
$main-color1: #17255A;//
$main-color2: #EB3D40;
$main-color3: #FAD05A;//
$main-color4: #F8F7F7;
$main-color5: #D4D4D4;

$back-ground1: #F9F9F9;
$back-ground2: #1B2036;

$hover-button1 : #277baf;//
$hover-button2: #AC3C3C;

$aditional1: #C4C4C4;
$aditional2: #25263A;

$midnight: #1B2036;
$clouds: #fff;