.links{

    margin-top: 85px;
    margin-left: 20%;
    
    background: #DFFFD2;
    border-radius: 14px;
    width: 180px;
    
    
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;




    &__text{

        
        margin-top: 22px;
        margin-bottom: 26px;
        color: gb(58, 58, 58);
        
    }

    
    
    
}
