.mail{

    margin: 0 auto;
    
            margin-top: 30px;
            margin-bottom: 325px;
            width: 20%;
            height: 1000px;
            background: #E8F3FE;
            border-radius: 14px;
            display: flex;
            align-items: center;
            
            height: 45px;
            
            display: flex;
            align-items: center;
            justify-content: center;
    

    &__text{


        margin-top: 22px;
        margin-bottom: 26px;
        color: gb(58, 58, 58);
    




    }















}





