.task{

        margin-top: 300px;
    
        margin: 0 auto;
        width: 50%;
        height: 440px;
        background: #E8F3FE;
        border-radius: 20px;
        display: flex;
        align-items: center;
       
        
        height: 500px;
        
        display: flex;
        align-items: center;
        justify-content: center;

    
    
    
            &__text{


                margin-top: 18px;
                margin-bottom: 26px;
                color: gb(58, 58, 58);
            


        
            }






}